@import './reset';
@import './nav';

$pc-media: 960px;
$phone-media: 480px;
@mixin pc () {
  @media all and ( min-width: $pc-media ) {
    @content;
  }
}
@mixin phone () {
  @media all and ( max-width: $phone-media ) {
    @content;
  }
}
@mixin header {
  $font-color: #f8f8f2;

  .headerSec {
    @include pc() {
      width: 1920px;
      height: 272px;
      grid-template {
        rows: .25fr .25fr .25fr .25fr;
        columns: 4rem 50% auto;
      }
    }
    @include phone() {
      width: 375px;
      height: 78px;
      grid-template {
        rows: .5fr .5fr;
        columns: .7fr .15fr .15fr;
      }
    }
    display: grid;
    grid-template-areas:'. . search' 'img title-1 user' '. title-2 user' '. navbar navbar';
    background-color: #262e3e;
    padding: 0;
  }

  .headerSec__csieTitle{
    justify-self: start;
    @include pc() {
      margin-left: 2rem;
      display: grid;
      grid-area: title-1;
    }
    @include phone() {
      margin-left: .5rem;
      display: grid;
      grid-row: 1 / span 2 ;
      grid-column: 1 ;
    }
  }

  .headerSec__csieTitle--img{
    @include phone() {
      display: none;
      border: 100px solid red;
    }
    @include pc() {
      display: grid;
      grid-area: img ;
      align-self: center;
      justify-self: start;
      width: 80px;
      height: 72px;
      padding-top: 3.5rem;
      margin-right: .5rem;
      background: $font-color ;
      border-radius: 50%;
    }
  }

  .headerSec__csietitle--Chinese{
    @include pc() {
      grid-area: title-1;
      font-size: 1rem;
    }
    @include phone() {
      grid-row: 1;
      grid-column: 1;
      font-size: 18px;
    }
    font-weight: normal;
    color: $font-color ;
    justify-self: start;
    align-self: end;
  }

  .headerSec__csietitle--English{
    @include pc() {
      grid-area: title-2;
      font-size: .7rem;
    }
    @include phone() {
      grid-row: 2;
      grid-column: 1;
      font-size: 9px;
    }
    color: $font-color ;
    justify-self: start;
  }

  .headerSec__input{
    @include pc() {
      display: block;
      grid-area: search;
      width: 406px;
      height: 48px;
      background-color: rgba(0, 0, 0, 0);
      margin-right: 3rem;
      margin-top: .5rem;
      border: .5px solid #f8f8f2;
      border-radius: .5rem;
      padding: 5px;
      color: #f8f8f2;
      font-size: .4rem;
      outline: none;
      justify-self: stretch;

      &::placeholder{
        color: #f8f8f2;
        font-size: 21px;
        font-family: Arial, Regular;
      }

      &+a{
        justify-self: end;
        align-self: flex-end;
        text-align: right;
        font-size: 1.3rem;
        margin-right: 3.5rem;
        margin-top: 1rem;
      }
    }
    @include phone() {
      display: none;
    }
  }

  .user{
    @include pc() {
      display: block;
      font-size: 10px;
      color: $font-color ;
      grid-area: user;
    }
    @include phone() {
      display: none;
      grid {
        row: 1;
        column: 3;
      }
    }
  }

  .dropdown{
    @include pc() {
      grid-area: navbar;
      list-style-type: none;
      overflow: hidden;
      margin: 0;
      padding: 0;
      background-color: rgba(0, 0, 0, 0);
    }
    @include phone() {
      display: none;
    }
    font-size: 24px;
  }

  li a, .dropdown__btn {
    width: 154px;
    height: 43px;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px 0 0;
    text-decoration: none;
    z-index: 2;
  }

  li a:hover, .dropdown__navbar:hover .dropdown__btn{
    border-bottom: 5px;
    border-color: #00c3d0 ;
  }

  li{
    float: right;
  }

  li.dropdown__navbar{
    display: inline-block;
  }

  .dropdown__content{
    @include pc() {
      display: none;
      width: 1920px;
      height: 52px;
      background-color: #00c3d0;
      white-space: nowrap;
      position: absolute;
      right: 0;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
      z-index: 1;

      a{
        color: white;
        padding: 9px 20px;
        text-decoration: none;
        display: inline;
        float: right;
        text-align: center;
        font-family: Arial, Regular;

        &:hover{
          background: #008891 ;
        }
      }
      @include phone() {
        display: none;
      }
    }
  }

  .dropdown__navbar:hover .dropdown__content {
    display: block;
  }
}
