$header-pc-size: 960px;
$header-phone-size: 480px;
@mixin header-pc () {
  @media screen and ( min-width: $header-pc-size ) {
    @content;
  }
}
@mixin header-phone () {
  @media screen and ( max-width: $header-phone-size ) {
    @content;
  }
}
@mixin header () {
  .header {
    $font-color: rgba(0, 0, 0, 0.87);
    background-color:#ffffff ;
    padding: 0;
    width: 100%;
    @include header-phone() {
      height: 78px;
      display: grid;
      grid-template: {
        rows: .5fr .5fr;
        columns: .7fr .15fr .15fr;
        areas:
        'title1 search navbtn'
        'title2 . .';
      }
    }
    @include header-pc () {
      height: 14%;
      display: grid;
      grid-template: {
        rows: .3fr .3fr .3fr ;
        columns: 1fr 3fr 4fr 1fr 1fr ;
        areas: 
        '. . . . country '
        'img title1 navbar user search'
        'img title2 navbar user search';
      }
    }

    &__img {
      @include header-phone() {
        display: none;
      }
      @include header-pc() {
        display: grid;
        grid-area: img;
        width: 1rem;
        height: 1rem;
        background-color: #000065;
        border-radius: 50%;
        margin-left: 2rem;
        margin-top: .2rem;
        }
    }
   
    &__ChineseTitle {
      font-weight: normal;
      color: $font-color ;
      @include header-phone() {
        padding-top: 20px;
        grid-area: title1;
        font-size: 18px;
        font-family: Arial, Regular;
      }
      @include header-pc() {
        grid-area: title1;
        font-size: .5rem;
        font-family: NotoSansCJKtc;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
      }
    }
   
    &__EnglishTitle{
      color: $font-color ;
      @include header-phone() {
        grid-area: title2;
        font-size: .33rem;
        font-family: NotoSans;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
      }
      @include header-pc() {
        grid-area: title2;
        font-size: 16px;
      }
      //justify-self: start;
    }
   
    &__input {
      @include header-phone() {
        display: block;
        grid-area: search ;
        width: 21.21px;
        height: 20.01px;
        border-radius: 50%;
        position: relative;
        top:30px;
      }
      @include header-pc() {
        display: grid;
        grid-area: search;
        width: 1rem;
        height: 1rem;
        margin-top: .5rem;
        margin-left: 2.5rem;
        border-radius: 50%;
        background-color: #33325e ;
      }
    }
   
    &__user{
      @include header-phone() {
        display: none;
      }
      @include header-pc() {
        display: grid;
        grid-area: user;
        width: 1rem;
        height: 1rem;
        margin-top: .5rem;
        background-color: #33325e ;
        border-radius: 50%;
        margin-left: 3rem;
      }
    }

    &__btn{
      @include header-phone() {
        display: grid;
        grid-area: navbtn ;
        width: 21.21px;
        height: 20.01px;
        border-radius: 50%;
        background-color: #f8f8f2 ;
        position: relative;
        top:30px;

        &:focus {
          .dropdown {
            display: block ;
          }
        }
      }
      @include header-pc() {
        grid-area: navbar;
        width:100%;
        list-style-type: none;
        overflow: hidden;
        display: block;
        height: 0;
      }
    }
    .dropdown{
      @include header-phone() {
        display: none ;
        width: 100vw ;
        height: 100vh ;
        white-space: nowrap;
        position: fixed;
        right: 0;
        top: 0;
        font-size: 18px;
        font-family: Arial, Regular ;
        background-color: #33325e;

        &__navbar{
          opacity: 50%;
          color: #f8f8f2 ;
          padding-top: 30px;
          z-index: 3;
          text-align: center;
        }

        &__btn{
          opacity: 50%;
          &:focus {
            .dropdown__content{
              display: block;
            }
          }
        }

        &__content{
          display: none;
          z-index: 2;
          a{
            color: white;
            text-decoration: none;
            text-align: center;
            font-family: Arial, Regula;
          }
        }
      }
      @include header-pc() {
        position: absolute;
        width: 100%;
        height: 80%;
        font-family: NotoSansCJKtc;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #adacad;
        font-size: .4rem;
      
        li{
          float:left ;
        }
      
        &__navbar{
          display: inline-block;

          &:hover {
            .dropdown__content {
              display:block ;
            }
          }
        }

        &__btn {
          width: 2rem;
          height: 1rem;
          display: inline-block;
          color: #adacad;
          text-align: center;
          text-decoration: none;
          padding-top: .5rem;

          &:hover {
              border-bottom: 10px;
              border-color: #00c3d0 ;
            }
        }
        
        &__content{
            display: none;
            list-style-type:none;
            width: 200%;
            height: 1.5rem;
            background-color: #33325e;
            white-space: nowrap;
            position: absolute;
            margin-left: -40rem;
            box-shadow: 0 8px 8px 0 rgba(0,0,0,.2);
            z-index: 1;
          
            a{
              color: white;
              text-decoration: none;
              text-align: center;
              font-family: Arial, Regular;
              font-size: .4rem;
              margin-left: .5rem;

              &:hover{
                padding: .4rem ;
                background-color: rgba(255, 255, 255, 0.2);
              }
            }
        }
      }
    }
  }
}