@import 'components/common/font';
@include font__load--NotoSansTC();
@include font__load--NotoSans();
@import 'components/common/icon';

$header-pc-size: 480px;
@mixin header-pc () {
  @media screen and ( min-width: $header-pc-size ) {
    @content;
  }
}
@mixin header () {
  .header {
    $font-color: rgba( 0, 0, 0, .87 );
    background-color: #ffffff;
    width: 100%;
    position: relative;
    height: 78px;
    display: grid;
    grid-template: {
      rows: .5fr .5fr;
      columns: .15fr .7fr .15fr;
      areas:
        'header__logo header__title-chinese header__navbar'
        'header__logo header__title-language header__navbar';
    }
    @include header-pc () {
      height: 150px;
      display: grid;
      grid-template: {
        rows: .3fr .2fr .2fr ;
        columns: .08fr .33fr .52fr .07fr .07fr ;
        areas: 
          '. . . header__calendar header__language '
          'header__logo header__title-chinese header__navbar header__login header__search'
          'header__logo header__title-language header__navbar header__login header__search';
      }
    }

    &__logo {
        position: absolute;
        margin-top: 27px;
        margin-left: 11px;
        margin-right: 11px;
        border-radius: 50%;
        left: -5px;
        @include header__logo{
          height:45px;
          width:51px;
        }
      @include header-pc() {
        display: grid;
        grid-area: header__logo;
        object-fit: contain;
        left: 60px;
        top: 18px;
        @include header__logo{
          width: 60px;
          height: 51px;
        }
      }
    }
   
    &__title {
      color: $font-color ;
      &--chinese{
          padding-top: 20px;
          grid-area: header__title-chinese;
          font-size: 16px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 2;
          letter-spacing: normal;
          @include header-pc() {
            position: relative;
            top: 22px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            @include font__family--NotoSansTC();
            grid-area: header__title-chinese;
            font-size: .75rem;
            line-height: 1.33;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
          }
      }
    
      &--language{
          grid-area: header__title-language;
          font-size: 12px;
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          @include header-pc() {
            position: relative;
            top: 22px;
            @include font__family--NotoSans();
            grid-area: header__title-language;
            line-height: 1.5;
            font-size: .5rem;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
          }
      }
    }

    &__language{
        display: none;
      @include header-pc() {
        display: grid;
        position: absolute;
        top: 30px;
        grid-area: header__language;
        background-color: #33325e ;
        border-radius: 50%;
        @include header__language() {
          margin-left: 1rem;
          width: 20px;
          height: 20px;
        }
      }
    }

    &__calendar {
      display: none;
      @include header-pc() {
        display: grid;
        grid-area: header__calendar;
        position: absolute;
        top: 30px;
        background-color: #ffffff;
        @include header__calendar{
          margin-left: 2rem;
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
        }
      }
  }
   
    &__search {
        display: none;
      @include header-pc() {
        display: grid;
        grid-area: header__search;
        margin-top: 75px;
        @include header__search{
          margin-left: 1rem;
          width: 26px;
          height: 26px;
        }
      }
    }
   
    &__login{
      display: none;
      @include header-pc() {
        display: grid;
        position: relative;
        grid-area: header__login;
        margin-top: 70px;
        width: 105px;
        height: 36px;
        background-color: #213262;
        font-size: 14px;
        padding: 8px 20px 8px 48px;
        color: #ffffff;
        &-img {
          @include header__login{
            position: absolute;
            top:11.5px;
            left: 19.5px;
            width: 14px;
            height: 14px;
          }
        }
      }
    }

    &__navbtn{
      grid-area: header__navbar;
      display: inline-block;
      text-decoration: none;
      &-img{
        position: relative;
        top:27px;
        @include header__navbtn-img{
          width: 27px;
          height:18px;
        }
      }
      @include header-pc() {
        display: none;
      }
    }


    .header__navigation-bar {
      position: fixed;
      top: -100%;
      width: 100%;
      background:rgba(255, 255, 255, 0.6);
      opacity: 0;
      transition: opacity 0.5s ease-in-out;

      &__close {
        display: block;
        width: 17.5px;
        height: 17.5px;
        box-sizing: border-box;
        color: #fff;
        position: absolute;
        top: 23px;
        right: 25px;
        transition:.5s ease-in-out;
        &:before, &:after {
          content: " ";
          display: block;
          height: 20px;
          width: 1px;
          background: #fff;
          position: absolute;
          left: 8px;
          top: 0px;
          transform:rotate(45deg);
        }
        &:after {
          transform:rotate(-45deg);
        }
      }

      &:target {
        opacity: 1;
        top: 0;
        bottom: 0;
        .header__navigation-bar__content {
          max-height: 100%;
          max-width: 100%;
        }
        .header__navigation-bar__close {
          z-index: 1;;
        }
      }

      &__content {
        width: 80%;
        height: 100%;
        background:#213262;
        color: #fff;
        margin: auto;
        position: absolute;
        right:0;
        top:0;
        max-height: 0%;
        max-width: 0%;
        box-sizing: border-box;
        transition: 0.5s;
      }
      @include header-pc() {
        grid-area: header__navbar;
        width:100%;
        list-style-type: none;
        overflow: hidden;
        display: block;
        height: 0;
        opacity: 1;
        top: -17px;
        &:target {
          opacity: 1;
          top:-17px;
        }
      }
    }

    .navigation-bar__dropdown.dropdown {
      box-sizing: border-box;
      margin: 0 auto;
      max-height: 500px;
      list-style-type: none;
      background-color:  #213262;
      font-size: 16px;
      label {
        display: block;
      }

      &__search{
        position: absolute;
        height:40px;
        width:245px;
        left: 18px;
        top: 12px;
        font-size: .5rem;
        border: .2px solid #ddd;
        background-color: #1d2d56;
      }

      &__navbar {
        position: relative;
        top:70px;
      }

      &__btn{
        position: absolute;
        top: -9999px;
        left: -9999px;
        &:checked {
          ~ {
            .navigation-bar__dropdown.dropdown__list{
              max-height: 500px;
            }
          }
        }
      }

      &__img{
        width:16px;
        height: 16px;
        position: absolute;
        top:16px;
        left: 5px;
      }

      &__btn-item{
        display: inline-block;
        text-decoration: none;
        border: .5px solid #ddd;        
        padding: 15px 14px 15px 14px;
        width: 100%;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: rgba(255, 255, 255, 0.5);
      }

      &__list{
        position: relative;
        max-height:0 ;
        overflow: hidden;
        width: 100%;
        z-index: 1;
        background-color: #1d2d56;
        color: white;
        transition: max-height 1s ease;
      }

      &__item{
        display: block;
        margin-left: 150px;
        font-size: 16px;
        background-color: #1d2d56;
        width: 100%;
        padding-left: 20px;
        line-height: 30px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: rgba(255, 255, 255, 0.5);
      }

      &__login{
        color: rgba(255, 255, 255, 0.5);
        padding: 10px 10px 10px 26px;
        display: inline-block;
        text-decoration: none;
        border: .5px solid #ddd;
        width: 100%;
      }

      &__calendar{
        color: rgba(255, 255, 255, 0.5);
        padding: 10px 10px 10px 26px;
        display: inline-block;
        text-decoration: none;
        border: .5px solid #ddd;
        width: 100%;
      }

      &__language{
        color: rgba(255, 255, 255, 0.5);
        padding: 10px 10px 10px 26px;
        display: inline-block;
        text-decoration: none;
        border: .5px solid #ddd;
        width: 100%;
      }


      @include header-pc() {
        background-color:rgba(0,0,0,0);
        position: fixed;
        width: 100%;
        left:44.375%;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        margin-top:  1rem;
        letter-spacing: normal;
        color: #adacad;
        font-size: .5rem;
      
        li{
          float:left ;
          text-align: center;
        }
      
        &__navbar{
          display: inline-block;
          height: 80px;
          width: 6.002%;

          &:hover {
            .navigation-bar__dropdown.dropdown__list {
              display:block ;
            }
          }
        }

        &__btn-item {
          @include font__family--NotoSansTC();
          width: 100%;
          height:54%;
          padding: 15px 14px 15px 14px;
          margin-bottom: 10px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: normal;
          font-size: .5rem;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          color: #adacad;
          background-color: #ffffff ;
          border: 0;

          &:hover {
            background-color:rgba(196, 196, 196, .3);
          }
        }

        &__btn{
          @include font__family--NotoSansTC();
          width: 100%;
          height:54%;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: normal;
          font-size: .5rem;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          color: #adacad;
          background-color: #ffffff ;
          border: 0;

          &:hover {
            background-color:rgba(196, 196, 196, .3);
          }
        }
        
        &__list{
          display: none;
          max-height: 200px;
          list-style-type:none;
          width: 3000%;
          height: 81px;
          background: #213262;
          white-space: nowrap;
          position: absolute;
          margin-left: -1500%;
          margin-top: 2%;
          box-shadow: 0 8px 8px 0 rgba(0,0,0,.2);
          z-index: 1;
          padding-top: 1%;
        }

        &__calendar{
          display: none;
        }

        &__language{
          display: none;
        }

        &__img{
          display: none;
        }

        &__login{
          display: none;
        }

        &__close{
          display: none;
        }

        &__search{
          display: none;
        }

        &__item{
          @include font__family--NotoSansTC();
          display: inline-block;
          width: 115px;
          height: 54px;
          padding: 13px;
          margin-left: 0;
          background: #213262;
          margin-top: 13px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: normal;             
          color: white;
          text-decoration: none;
          text-align: center;
          white-space:nowrap;
          font-size: .5rem;

          &:hover{
            //padding: .6784% .6784% .3914%;
            background-color: rgba(255, 255, 255, .2);
          }
        }
      }
    }
  }
}
