doctype html
html
  head
    link(rel='stylesheet', type='text/css', href=`/css/home/index.css`)
    title ncku csie
  body
    include /components/common/header.pug
    +header
    //-include /components/common/footer.pug
    //-+footer
